# 排除指定的对冲图表目录
res/hedge_maps/
res/hedge_maps/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# 虚拟环境
venv/
ENV/

# IDE 相关
.idea/
.vscode/
*.swp
*.swo

# 临时文件和缓存
.DS_Store
.cache
*.bak
*.tmp